.thoughtco_printerbar {
	position: fixed;
	bottom: 0;
	height: 36px;	
	width: 100%;
	background: rgb(15, 15, 15);
	z-index: 10000;
	color: #fff;
	box-sizing: border-box;
	padding: 8px;
	transition: 300ms ease-in-out;
}

.thoughtco_printerbar[data-status="error"]{
	background: rgb(210, 0, 0);
}

.thoughtco_printerbar[data-status="connect"]{
	background: rgb(255, 176, 20);
}

.thoughtco_printerbar .printer-status {
	padding-left: 8px;
}